.home {
    align-items: center;
    background: #080808;
    color: #4D6460;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }

.tittle_home{
    color:#13a4ff;
    font-family: 'Helvetica Neue';
    text-align: center;
}